// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-material-v1-primary: mat-palette($mat-blue-grey, 600, 400, 800);
$angular-material-v1-accent: mat-palette($mat-teal, 800, 900, 500);
$angular-material-v1-warn: mat-palette($mat-red, 900, 500, A700);

// Create the theme object (a Sass map containing all of the palettes).
// If you prefer a dark theme, switch to mat-dark-theme and it will switch over to your darker hues
$angular-material-v1-theme: mat-light-theme(
    $angular-material-v1-primary,
    $angular-material-v1-accent,
    $angular-material-v1-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-material-v1-theme);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
    $font-family: 'Roboto Mono'
);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

// Override the typography in the core CSS.
@include mat-core($custom-typography);

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Roboto Mono', 'Helvetica Neue', sans-serif;
}

.app-brand {
    cursor: pointer;
}
.fill-space {
    flex: 1 1 auto;
}
.text-caption {
    font-size: 14px;
    font-weight: lighter;
}
.full-width-input {
    width: 100%;
}
.give-me-some-space {
    &.top {
        &.margin-10 {
            margin-top: 10px;
        }
        &.margin-25 {
            margin-top: 25px;
        }
    }
}
