<mat-sidenav-container class="app-content">
    <mat-sidenav
        #appSideNav
        [mode]="viewportMobileQuery.matches ? 'over' : 'side'"
        [opened]="!viewportMobileQuery.matches"
        [fixedInViewport]="viewportMobileQuery.matches"
    >
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <h1>Menu</h1>
                <span class="fill-space"></span>
                <button
                    mat-icon-button
                    *ngIf="viewportMobileQuery.matches"
                    (click)="appSideNav.close()"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-nav-list>
            <!-- set the `routerLink` on the `mat-list-item` that way it will route if any of the list item is clicked -->
            <mat-list-item routerLink="/">
                <mat-icon matListIcon>home</mat-icon>
                <a matLine>Home</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item routerLink="/wines">
                <mat-icon matListIcon>local_bar</mat-icon>
                <a matLine>Wines</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
        <mat-toolbar color="primary" class="main-toolbar">
            <mat-toolbar-row>
                <button
                    mat-icon-button
                    (click)="appSideNav.toggle()"
                    *ngIf="viewportMobileQuery.matches"
                >
                    <mat-icon>menu</mat-icon>
                </button>
                <h1 routerLink="/" class="app-brand">
                    Wine store Manager
                </h1>
                <div class="spacer"></div>
                <mat-icon
                    *ngIf="notifications$ | async as notifications"
                    [matBadge]="notifications"
                    matBadgeOverlap="false"
                    matBadgePosition="above before"
                    matBadgeColor="warn"
                    matBadgeHidden="false"
                    (click)="resetNotifications()"
                >
                    notifications
                </mat-icon>
            </mat-toolbar-row>
        </mat-toolbar>
        <main class="main-content-inner">
            <section class="content-area">
                <router-outlet></router-outlet>
            </section>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
